
.counter{
    display: inline;
    padding: 20px;
    margin: 20px;
    background-image: url('https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-position: center;
    border-radius: 18px;
    max-width: 450px;
    box-shadow: 0 0 5px rgba(0, 0, 0 ,1);

}

.counter:hover {
    background-image: url('https://images.unsplash.com/photo-1517263904808-5dc91e3e7044?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
    background-position: center;
}


.timeLeft{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 30px 10px;
}

.box {
    margin: 12px;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: white;
}

.box:hover {
    animation: spin infinite 1s linear;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}